.grid-container {
  position: relative;
  margin-block-end: 100%;
  right: 100%;
  bottom: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;

  grid-gap: 1px;
  background-color: #f2f3f9;
  padding: 20px;

  button {
    min-width: 100px;
    width: fit-content;
    height: 50px;
    padding: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    border: none;
    background-color: #8db6f4;
    text-transform: uppercase;
    font-weight: 500;
  }
}

// .categories {
//   display: flex;
//   height: 80vh;
//   gap: 10px;
//   margin: 10px;

//   .col {
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//   }

//   .row{
//     flex:1;
//     display: flex;
//     gap: 10px;
//     position: relative;
//     overflow: hidden;

//   }
// }
