.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .title {
    color: #4c0099;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  
  .enroll-today {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #7847ea;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 140px;
    height: fit-content;
    padding: 15px 10px;
    border: 0px;
  }